################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mantis_Support/.vs/Mantis_Support/FileContentIndex
